# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#keys
firebase/
constants/index.js
google-services.json
zimba.algo/env.js
zimba.algo/zimba.algo.js

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
